* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
header {
	background-color: black;
	color: white;
	display: flex;
	padding: 30px;
	border-bottom: 1px solid yellow;
}
.header-title__span1{
	color: yellow;
	margin-right: -8px;
}
.search__bar {
	flex-grow: 1;
	display: flex;
	justify-content: end;
	align-items: center;
	margin-right: 5%;
}
.search__bar-input {
	min-width: 300px;
	padding-left: 13px;
	padding-top: 4px;
	font-size: 18px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.search__bar i {
	background-color: yellow;
	padding: 5px 5px;
	color: black;
	border-top-right-radius: 20%;
	border-bottom-right-radius: 20%;
}
.header__basket {
	align-items: center;
	margin-top: 5px;
}
.header__basket i {
	color: yellow;
	font-size: 25px;
	margin-right: 5px;
}
.header__basket {
	color: white;
}
